<%= form_for issue do |f| %>
<div class="modal fade issueModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a class="close"  data-dismiss="modal" aria-hidden="true">x</a>
        <h4 class="modal-title" >今天和大家分享些什么</h4>
      </div>
        <div class="modal-body">
          <div class="row">
            <%= f.hidden_field :user_id %>
            <div class="col-xs-12">  <%= f.text_area :message ,:class => "" ,:style=>"height:80px;width:100%" %>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
                data-dismiss="modal">
          关闭
        </button>
        <%= f.submit :class =>"submit-issue-button btn btn-primary",:value=>"分享" %>
      </div>
    </div>
  </div>
</div>
<% end %>