.photobook{
  height: 300px;
}

 .photos{
   a:hover{
     text-decoration: none;
   }
 }

.photobook-cover
{
   height: 240px;
   max-height:240px;
   background-color: #0094ff;
  .defaultimg{
      height: 240px;
     margin-left: -16px;
  }
  .bookcover
  {
    height: 240px;
  }
  overflow: hidden;
}
.photobook-title
{ text-align: center;
  line-height: 60px;
  font-size: 16px;
}
.photos
{
  padding: 5px;
}
